* {
  padding : 0;
  margin: 0;
  box-sizing: border-box;
  font-family: reitam, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body { 
  background-color: #E9E9E4;
  line-height: 1;
}

ul {
  list-style: none;
}

a {
  font-size: 2.8vw;
  line-height: 10.5vh;
}

.wrapper--top {
  background-image: url(/images/bg_illust.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35%;
}

.header {
  display: flex;
  text-align: center;
  padding: 4vh 4vw;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header_inner_list {
  right: 5.5vw;
  line-height: 4.5vw;
  text-decoration: none;
  display: flex;
}

.header_inner_listItem {
  margin-left: 2vw;
  font-size: 2.8vw;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.header_inner_listItem a {
  color: #a28d69;
  font-size: 1.2vw;
  text-decoration: none;
}

.main_tennis_ball {
  color-scheme: light dark;
  width: 20%;
  height: auto;
  position: absolute;
  right: 30%;
  z-index: 50;
  opacity: 0.2;
}

.main_h2_title {
  color: #a28d69;
  font-size: 2em;
  margin-top: 1rem;
}

.main_p_explanation {
  color: #000;
  font-size: 1vw;
}

.mainVisual_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  left: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

.wrapper--top .mainVisual_inner {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainVisual_logo {
  font-size: 4.0vw;
  font-weight: bold;
  z-index: 100;
  background:none;
  letter-spacing: 0.6vw;
  font-family: "Roboto Condensed", sans-serif;
}

.mainVisual_sentence {
  font-size: 1.5vw;
  margin-top: 2vh;
  z-index: 100;
  background: none;
  letter-spacing: 0.5vw;
  font-family: "Roboto Condensed", sans-serif;
}

.I-content {
  margin: 4vw;
  background-color: #D9D9D9;
  padding-top: 4vw;
  border-radius: 20px;
}

.title_portfolio {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 4%;
  justify-content: center;
  font-size: 3vw;
}

.title_portfolio:before,
.title_portfolio:after {
  content: "";
  flex: 1;
  border-bottom: 1px dotted #aaa;
}

.title_portfolio:before {
  margin-right: 0.25em;
}

.title_portfolio:after {
  margin-left: 0.25em;
}

.main_home_list {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10vh;
}

.main_home_listitem {
  list-style: none;
  width: 42%;
  margin: 0 4% 4% 4%;
}

.main_home_listitem a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.main_home_listitem img {
  width: 38.4vw;
  height: 24vw;
  object-fit: cover;
  margin: 0 auto;
}

.main_home_listitem:hover {
  opacity: 0.3;
}

.main_home_listitem a {
  color: #000;
  font-size: 1.5vw;
  line-height: 5vh;
}

/* -------------------------------------------- about me --------------------------------------------- */

.about_main {
  display: flex;
  justify-content: space-between;
  margin: 0vh 16vw;
  /* background-color: #F9F9F9; */
  padding: 18vh 2vw;
}

.about_main_left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_my_img {
  width: 100%;
  height: auto;
  max-width: 500px;
  object-fit: cover;
}

.about_main_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2vw;
}

.about_main_name_en,
.about_main_name_ja {
  background-color: #333;
  color: #fff;
  padding: 0.5vw 1vw;
  margin-bottom: 1vw;
}

.about_main_name_en {
  font-size: 2vw;
}

.about_main_name_ja {
  font-size: 3vw;
}

.about_main_info {
  font-size: 1.2vw;
}

.about_date {
  margin-bottom: 1vw;
}

.about_main_slide_container {
  width: 64vw;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-top: 4vh;
}

.about_main_slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

.about_main_slide_item {
  min-width: 100%;
  height: 80vh;
  background-color: #D9D9D9;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  position: relative;
  margin-bottom: 8vh;
}

.about_main_slide_item:nth-child(odd) {
  background-color: #333;
  color: white;
}

.about_main_slide_item:nth-child(even) {
  background-color: #007BFF;
  color: white;
}

.slide_text {
  position: absolute;
  color: white;
  font-size: 1.5vw;
  text-align: center;
}
